<div>
    <input type="text" #clearInput  [(ngModel)]="inputTextOrder" placeholder="Input your order ..." style="margin:5px; width:710px;">
    <button class="btn btn-success" (click)="postOrder()">Submit</button>
</div>
<br>
<table class="table table-striped table-sm" style="width:800px">
    <thead>
        <tr>
        <th scope="col" style="background-color: darkblue; color: white;">Orders</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders">
        <th scope="row">{{order.detail}}</th>
        </tr>
    </tbody>
</table>