<!-- <nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo">GFT Restaurant</a>
    Order2v
    <div>
        <ul>
            <li>Order</li>
        </ul>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark navbar-mainbg">
    <a class="navbar-brand">GFT Restaurant</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link">Order</a>
          </li>          
        </ul>
      </div>
</nav>

<app-content></app-content>
<br>
<app-footer></app-footer>